body,header,article,section,footer{margin:0;padding:0;}

a,ul,input{text-decoration: none;list-style: none;}
body{
	background-color:#dedede;
	
}
main{
	position: relative;
	float:left;
	overflow:hidden;
	
}
footer{
	text-align: center;
	background-color: #000;
	color: #fff;
	height: 50px;
	clear:both;
}
footer span{
	display:block;
	line-height: 50px;
}
header{
	height: 60px;
	position: relative;
	background-color:#dedede;
	color: #000000;
	width: 100%;
	margin-left: 10px;
}
header ul{
	list-style: none;
	position: absolute;
	right:10px;
	top:0;
}
header li{ 
	float:left;
	padding:0  10px;
}
header h1{
	padding:5px 0 0px 30px;  
}
article{
	margin-right: 400px;
	line-height:26px;
}
aside,article .paper,.picture{
	margin: 20px;
	padding:20px;
	background-color: #ffffff;
	box-shadow: 1px 1px 6px #000000;
	
}
article .littlepicture{
	width: 100px;
	border: 1px solid gray;
	margin:10px ;
	padding: 10px;

}
article .littlepicture img{
	width: 100px;
}
article .littlepicture span{
	margin-left: 35%;
}
table{
	border-collapse:collapse;
	text-align: center;
	width:100%;
}
table th{
	background-color: #333333;
}
article .sex input{
	background-color:blue;
}
table .rows3{
	background-color: gray;
}
aside{
	width: 300px;
	position: absolute;
	top: -20px;	
	right: 0px; 
	font-size:12px;
}
 aside h4{
	font-size: 14px;
}
aside div{
	padding: 5px;
}
aside span{
	font-size: 12px;
	display: inline-block;
	margin-right: 10px;
	width: 90px;
	text-align: right;
	
	
	}
aside div p{
	margin-left: 120px;
	color: gray;
} 
aside .submit{
	background-color: skyblue;
	border-radius:5px;
	text-align: center;
	height: 30px;
	line-height: 30px;
}
aside #submit-input{
	display: none;
} 

